<nav class="nav-main">
    <ul>
            <li class="menu-"><a href="#" class="icon icon-folder-open-inverse dl-trigger">浏览</a></li>
            <li class="menu-"><a href="/admin/" class="icon icon-folder">管理</a></li>
            <!---
            <li class="menu-"><a href="/search/" class="icon icon-search">搜索</a></li>
            <li class="menu-"><a href="/images/" class="icon icon-image">图像</a></li>
            <li class="menu-"><a href="/documents/" class="icon icon-doc-full-inverse">文档</a></li>
            -->
    </ul>
</nav>
